html, body {
  height: 100%;
  margin: 0;
  background: #202020 url("/img/noise.png");
  color: white;
  font-family: "Lucida Console", monospace;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    background: #202020;
  }
}

.main {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.header {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
}

.header-element {
  margin-top: 1em;
  margin-bottom: 1em;
}

.header-title {
  font-size: 2em;
  font-weight: bolder;
}

.header-items {
  font-size: 1em;
}

.header-item-glyph:after {
  content: ' ¦ ';
  font-size: 1.25em;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 10vw 5vw 10vw;
}

.home-menu {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 2.5em;

  ul {
    width: 100%;
    padding: 0;
    align-self: center;
    text-align: left;
    list-style-type: none;
  }

  li {
    &:before {
      content: '>';
    }

    margin: 0.25em;
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);

  &:hover {
    background-color: rgba(80, 80, 80, 0.5);
  }
}